{% extends "base.html" %}

{% block content %}

<section class="hero">

    <h1>Professional Sports Betting Exchange</h1>

    <p>
        Live Cricket • Football • Tennis • Casino
    </p>

    <div class="hero-buttons">
        <a href="/register" class="btn">Join Now</a>
        <a href="/login" class="btn">Login</a>
    </div>

</section>

<section class="section">

    <h2>🔥 Live Matches</h2>

    <div class="match-grid">

        <div class="match-card">
            <small>ICC Champions Trophy</small>
            <h3>India vs Australia</h3>

            <div class="odds">
                <button class="back">Back 1.82</button>
                <button class="lay">Lay 1.85</button>
            </div>
        </div>

        <div class="match-card">
            <small>T20 International</small>
            <h3>England vs Pakistan</h3>

            <div class="odds">
                <button class="back">Back 1.95</button>
                <button class="lay">Lay 2.01</button>
            </div>
        </div>

    </div>

</section>

{% endblock %}